body {
    border: 5px solid black;
}

#NavBar {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}


.Title {
    font-size: 15em;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    padding: unset;
}

.Sub-Title {
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
}

.button {
    border: 5px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    font-family: monospace;
    align-self: center;
    background-color: aquamarine;
}

.Center {
    text-align: center;
}

img {
    width: 480px;
    height: 240px;
}

.container {

    text-align: center;
}

p.in-view {
    font-size: 2em;
    letter-spacing: 3px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 4s;

}

@keyframes typing {
    from {width: 0}
}