body {
    border: 5px solid white;
}

#LandingPage {
    background-image: url("Images/2.jpg");

}

#NavBar {
    z-index: 1;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.portfolioImage {
    padding-left: 10px;
    padding-right: 10px;
}


.Title {
    font-size: 15em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    padding: unset;
}

.Sub-Title {
    font-size: 3em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
}

.button {
    border: 5px solid white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    font-family: monospace;
    align-self: center;
    background-color: aquamarine;
}

.portfolioImage {
    width: 480px;
    height: 240px;
}

.container {
    text-align: center;
}

p.in-view {
    font-size: 2em;
    color: white;
    letter-spacing: 3px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 4s;

}

@keyframes typing {
    from {width: 0}
}

.Center {
    text-align: center;
}

codersrank-summary {
    --bg-color: transparent;
    --badge-bg-color: #161616;
    --badge-text-color: #fff;
    --badges-padding: 0px;
    --badge-padding: 8px;
    --badge-margin: 16px;
    --badge-border-radius: 8px;
    --badge-rank-font-size: 16px;
    --badge-technology-font-size: 18px;
    --badge-location-font-size: 16px;
    --badge-icon-size: 32px;
    --badge-border: 1px solid rgba(0, 0, 0, 0.1);
    --badge-box-shadow: none;
}

codersrank-activity {
    padding: 8px;
    background: transparent;
    --bg-color-0: white;
    --bg-color-1: #57bfda;
    --bg-color-2: #0179b7;
    --bg-color-3: #032f9b;
    --label-text-color: white;
}

codersrank-skills-chart {
    --label-text-color: white;
    --chart-bg-color: transparent;
    --chart-border-radius: 8px;
    --axis-bg-color: transparent;
    --label-font-size: 12px;
}

