#Title {
    color: aqua;
    font-family: Calibri, serif;
    font-size: 100px;
    
}

.button {
    background-color: blue;
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

p {
    color: black;
}