body, html {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    font-family: "Fira Code Medium", sans-serif;
}

#RunningClubWebsite {

}

.notBold {
    font-weight: normal;
}


.Title {
    text-align: Left;

}


h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}